body {
    margin: 0 auto;
    color: #0033cc;
    font-size: 22px;
    word-wrap: break-word !important;
    background-color:thistle;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#container {
    margin: 0 auto;
}

nav {
    margin: 50px 0;
    background-color: #0033cc;
    text-align: center;
}

nav ul {
    padding: 0;
    margin:0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #0033cc;
    width: 170px;
}

nav a {
    display: block;
    padding: 0 10px;
    color: orange;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffdb4d;
    color:#0033cc;
}

  /* Hide dropdown by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;/* height of the main nav*/
}

nav ul li:hover ul {display: block;}

nav ul li ul {
    position: absolute;
    width: 170px;
    display: none;
}

  /* Display dropdown hover
nav ul li a:hover > ul {
    display: inherit;
}
*/

nav ul li ul li { 
  background: #0033cc; 
  display: block;
  color: #ffdb4d; 
}

.mainBody{
    width: 80vh; 
    margin: 20px auto;}

.active{
    background-color: #ffdb4d;
    color: #0033cc;
}

header {
    text-align: center;
}
