
h1, h2 {
    font-family: 'Archivo Black', sans-serif;
}
p, li, td, th {
    font-family: 'Open Sans', sans-serif;
}

.front {
    width: 60vw;
    height: 100vh;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
  }