.card {
    border-radius : 5px;
    border-width: 5px;
    border-style: solid;
    width: 210px;
    border: 1px solid grey;
    text-align: center;
}

img {
    width: 200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 50%;
}